


.card-wrapper {
    width: 100%;
    min-height: 100vh;
    background: var(--main-bg-blue);
    display: flex;
    justify-content: center;
}

.card {
    width: 327px;
    height: 330px;
    background: var(--card-bg-blue);
    padding: 24px;
    margin: auto;
    border-radius: 8px;
}

.card-img {
    position: relative;
    width: 100px;
    height: 100px;
}

.card-img img {
    width: 100px!important; 
    height: 100px!important;
   
}
.card-img:hover {
    cursor: pointer;
}

.card-img:hover .card-img-overlay {
    opacity: 1;
}

.card-img-top {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    
}

.card-img-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: hsla(0, 0%, 51%, 0.5);
    border-radius: 8px;
}
.card-img-overlay img{
    width: 50px !important;
    height: 50px !important;
}
.card-title {
    margin-bottom: 12px;
    color: #666;
    opacity: 0.5;
    height: 28px;
}

.card-title h3 {
    font-family: 'Outfit', sans-serif;
}

.card-details {
    height: 52px;
    width: 100%;
    color: var(--soft-blue);
    font-size: 16px;
    margin-bottom: 16px;
}

.card-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.card-meta .left {
    color: var(--cyan);
}

.card-meta .right {
    color: var(--soft-blue);
}

.card-meta span {
    margin-right: 7.48px;
}

.card-meta .left,
.card-meta .right {
    height: 20px;
    display: flex;
}

.card-meta p {
    font-family: 'Outfit', sans-serif;
}

.card-seperator {
    margin-bottom: 16px;
    width: 100%;
    height: 1px;
    background: var(--line-blue);
}

.card-creator {
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.card-creator img {
    width: 33px;
    height: 33px;
    border-radius: 50px;
}

.card-creator .card-creator-details span:nth-child(1) {
    color: var(--soft-blue);
    margin-left: 16px;
}

.card-creator .card-creator-details span:nth-child(2) {
    color: var(--white);
}

.card-creator .card-creator-details span:nth-child(2):hover,
.card-title h3:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution { 
    font-size: 16px; 
    font-weight: bold;
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;    
}

@media only screen and (min-width: 640px) {
    .attribution {
        display: flex;
        justify-content: space-between;   
        width: 60%;
        margin: 0 auto;
    }
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    
}
