th {
  padding: 1rem !important;
  margin: 1rem !important;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  list-style: none;
}

.pagination li {
  display: inline-block;
  margin: 0 10px;
}

.pagination li a {
  color: #fff;
  /* border: 1px solid #000; */
  padding: 5px 10px;
  border-radius: 3px;
  outline: 0;
}

.pagination li.active a {
  background-color: #0d6efd!important;
  color: #fff !important;
  border-color: #0d6efd;
}

.pagination li a:hover:not(.active) {
 background-color: #7a78783d!important;
}
.next a {
  background-color: #0d6efd!important;
  color: #fff!important;
}
.previous a{
  background-color: #0d6efd!important;
  color: #fff!important;
}
.disabled a{
  background-color: #fff!important;
  color: #000!important;
}